@model EstateFin.Models.User

@{
    ViewData["Title"] = "Forgot Password";
}

<h2>Forgot Password</h2>
<div asp-validation-summary="All" class="alert-danger"></div>
<form asp-action="ForgotPassword" method="post">
    <div>
        <label asp-for="Email">Email</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-dark">Send Reset Link</button>
    <a class="btn btn-danger" asp-action="Login">Back to Login</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}