@model EstateFin.Models.User

@{
    ViewData["Title"] = "Forgot Password";
}

<style>
    body, html {
        height: 100%;
        margin: 0;
        padding: 0;
        background: linear-gradient(225deg, rgba(255, 94, 164, 1) 0%, rgba(22, 125, 242, 1) 100%);
    }

    #register-container {
        width: 25%;
        justify-content: center;
        margin: 0 auto;
        border-radius: 12px;
        background: rgba(255, 255, 255, 0.9);
    }
</style>

<h2 class="text-center">Forgot Password</h2>

<div id="register-container" class="p-3">
    
    <div asp-validation-summary="All" class="alert-danger"></div>

    <form asp-action="ForgotPassword" method="post">
        <div>
            <label asp-for="Email">Email</label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="d-flex gap-2 mt-3">
            <button type="submit" class="btn btn-dark">Send Reset Link</button>
            <a class="btn btn-danger" asp-action="Login">Back to Login</a>
        </div>
        
    </form>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}