@{
    ViewData["Title"] = "Login";
}

<style>
    body, html {
        height: 100%;
        margin: 0;
        padding: 0;
        background: linear-gradient(225deg, rgba(255, 94, 164, 1) 0%, rgba(22, 125, 242, 1) 100%);
    }

    #content {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        flex-wrap: wrap;
        position: relative;
        overflow: hidden;
    }

    #img-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        display:flex;
        justify-content:center;
        z-index: 0;
    }

    #img-container img {
        justify-content:center;
        width: 80%;
        height: auto;
        object-fit: contain;
    }

    #login-container,
    #logo-container {
        width: 30%;
        min-height: 40vh;
        border-radius: 12px;
        z-index: 1;
        background: rgba(255, 255, 255, 0.9);
    }

    #logo-container img {
        width: 100%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>


@model User

<partial name="Notification" />

<div id="content" class="position-relative">

    <div id="img-container">
        <img src="~/bgimg.png" />
    </div>


    <div id="logo-container" class="border shadow-lg p-3 text-center">
        <img src="~/bgimg.png" />
    </div>

    <div id="login-container" class="border shadow-lg p-3">
        <form asp-action="Login" method="post">
            <div class="mb-3">
                <label asp-for="Email" class="form-label">Email</label>
                <input type="email" asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="PasswordHash" class="form-label">Password</label>
                <input type="password" name="password" class="form-control" />
                <span asp-validation-for="PasswordHash" class="text-danger"></span>
            </div>

            <div class="d-flex gap-2 mb-3">
                <button type="submit" class="btn btn-dark">Login</button>
                <button class="btn btn-danger" asp-action="Register">Register</button>
            </div>

            <div class="mb-2">
                <button asp-controller="Account" asp-action="GoogleLogin" class="btn btn-primary w-100">
                    Sign in with Google
                </button>
            </div>

            <div class="mb-2">
                <a asp-controller="Account" asp-action="ForgotPassword" class="btn btn-link text-danger">
                    Forgot Password?
                </a>
            </div>

            <div class="text-danger">
                @Html.ValidationSummary()
            </div>
        </form>
    </div>
</div>
